<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p [%d{ISO8601," + timeZone.getID() + "}] %c: %m\n%ex</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/mon.log</file>
    <encoder>
      <pattern>%-5p [%d{ISO8601," + timeZone.getID() + "}] %c: %m\n%ex</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/var/log/mon-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>

  <!-- make jetty less talkative -->
  <logger name="org.eclipse.jetty.util" level="INFO" />
  <logger name="org.eclipse.jetty.servlet" level="INFO" />
  <logger name="org.eclipse.jetty.server.handler" level="INFO" />

  <root level="TRACE">
    <appender-ref ref="STDERR" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
