
body {
    background-color: #F1F2F2;
}

header {
    font-family: Didot;
    background-color: #060B01;
    color: white;
    display: flex;
    width: 100% !important;
}

header h2 {
    padding-left: 2em;
    padding-top: 0.5em;
}

.stripe {
    flex: 1;
    width: 100% !important;
    height: 1rem;
    background-color: lightgrey;
}

.content {
    flex: 1;
    margin: 10px 3px;
}

#update-period {
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

#update-period #period {
    text-align: right;
}

#graph-container {
    display: flex;
}

#cpu-graph {
    width: 582px;
    height: 360px;
    -moz-box-flex: 1;
    flex: 1;
    margin-left: 1em;
}

#memory-graph {
    width: 582px;
    height: 360px;
    -moz-box-flex: 1;
    flex: 1;
    margin-left: 1em;
}

#bandwidth-graph {
    width: 582px;
    height: 360px;
    -moz-box-flex: 1;
    flex: 1;
    margin: 0 1em;
}

#events {
    margin-left: 1em;
    background-color: white;
    width: 90%;
}

#events ul {
    list-style-type: none;
}

footer {
    font-family: Didot;
    height: 3rem;
    text-align: right;
    background-color: lightgrey;
    color: black;
    width: 100%;
    bottom: 0;
    position: fixed;
}

footer p {
    padding-right: 5px;
}
