
body {
    background-color: #F1F2F2;
}

header {
    font-family: Didot;
    background-color: #060B01;
    color: white;
    padding-left: 2em;
    padding-top: 0.5em;
    height: 80px;
}

form {
    background-color: white;
    width: 500px;
    padding: 0.8em 0.8em;
    border-radius: 10px;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 180px;
    text-align: right;
}

button {
    margin-left: .5em;
}

input {
    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}

input:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

ul {
    margin: 0.5em;
    width: 300px;
    list-style-type: none;
}

li {
    padding-top: 11px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}

.button {
    padding-left: 180px; /* same size as the label elements */
}

span .e {
    padding: 5px;
    display: inline-block;
}

.stripe {
  background-color: lightgrey;
}

#main {
    padding: 1em 0 0 3em;
    overflow: hidden;
}

#events {
    padding-left: 120px; /* same size as the label elements */
    background-color: white;
    padding: 0.8em 0.8em;
    margin-left: 1em;
    width: 60%;
}

#storlets {
    background-color: white;
    width: 90px;
    height: 120px;
    margin: 1em 0;
    border-radius: 10px;
    border: 1px solid black;
}

#storlets .name {
    background-color: red;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 0.1em;
}

#storlets .count {
    background-color: white;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    padding-top: 0.85em;
    text-align: center;
}
